[submodule "third_party/jsonschema-rs"]
	path = third_party/jsonschema-rs
	url = https://github.com/Stranger6667/jsonschema-rs.git
[submodule "third_party/pyo3"]
	path = third_party/pyo3
	url = https://github.com/PyO3/pyo3.git
[submodule "third_party/blake3-py"]
	path = third_party/blake3-py
	url = https://github.com/oconnor663/blake3-py.git
[submodule "third_party/rpds-py"]
	path = third_party/rpds-py
	url = https://github.com/crate-py/rpds.git
[submodule "third_party/pyo3-fork"]
	path = third_party/pyo3-fork
	url = https://github.com/codepod-sandbox/pyo3.git
